
# Modules
modules/translation
.translation
modules/embedding
.embedding
modules/proxy
.proxy
modules/financial_news
.financial_news

# Subnets

# Bittensor
sylliba-subnet
.sylliba-subnet
vision
.vision
bittensor-subnet-template
.bittensor-subnet-template
bittensor
.bittensor

# Commune
subnets/commune
.commune
subnets/communex
.communex
subnets/eden-subnet
.eden-subnet
subnets/synthia
.synthia
subnets/mosaic-subnet
.mosaic-subnet
subnets/openscope
.openscope
subnets/kaiwa-subnet
.kaiwa-subnet
subnets/comtensor-subnet
.comtensor-subnet
subnets/nya-compute-subnet
.nya-compute-subnet
subnets/prediction-subnet
.prediction-subnet
subnets/zangief
.zangief
subnets/comchat-subnet
.comchat-subnet
subnets/marketcompass-subnet
.marketcompass-subnet
subnets/yogpt
.yogpt
subnets/dtune
.dtune
subnets/yama
.yama
subnets/sylliba-subnet
.sylliba-subnet
subnets/vision
.vision
subnets/blockchain-insights-subnet
.blockchain-insights-subnet
subnets/moonshoot-subnet
.moonshoot-subnet

target
.env
.venv
venv
.reference
*__pycache__

**/*.log

config.yaml

instructions.modules
